body {
	background: url('../img/about-bg.png');
	background-size: 100%;
	background-color:rgba(0, 0, 0, 0.5); 
	font-family: 'Helvetica';

}

#menu {
	text-decoration: none;
	color: white;
	font-size: large;
	margin-left: 20px;
}